In [8]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [23]:
df = pd.read_csv('song1.csv')
df.columns = ["user_id", "song_id", "count"]
df.head(100)

                                     user_id             song_id  count
0   b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOAPDEY12A81C210A9      1
1   b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBBMDR12A8C13253B      2
2   b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFNSP12AF72A0E22      1
3   b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBFOVM12A58A7D494      1
4   b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOBNZDC12A6D4FC103      1
..                                       ...                 ...    ...
95  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOXRXDG12A8C131DE5      1
96  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOXSPON12A6D4F5DC2      1
97  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOXZQDE12A8C135833      1
98  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOYHEPA12A8C13097F      8
99  b80344d063b5ccb3212f76538f3d9e43d87dca9e  SOYYWMD12A58A7BCC9      1

[100 rows x 3 columns]

In [9]:
print(df.shape)

(39999, 3)

In [26]:
print(df["song_id"].value_counts())

SOFRQTD12A81C233C0    86
SOAXGDH12A8C13F8A1    78
SOAUWYT12A81C206F1    70
SOSXLTC12AF72A7F54    70
SONYKOW12AB01849C9    69
                      ..
SONYMMQ12A6D4F8860     1
SOOCVKL12A6D4F85F3     1
SOTPGYZ12A6D4F4A39     1
SOEJZLV12A8AE4700B     1
SOVCLUN12A6D4FC1CF     1
Name: song_id, Length: 23667, dtype: int64

In [48]:
song_id_flat = df["song_id"].to_numpy()

In [49]:
print(len(song_id_flat))

39999

In [50]:
song_id_flat = np.unique(song_id_flat)
song_id_flat = song_id_flat[0:10001]
print(len(song_id_flat))

10001

In [35]:
ndf = pd.read_csv('SongCSV.csv')

In [36]:
song_dtst = ndf.loc[:,["SongID", "AlbumID", "AlbumName", "Title", "Year"]]

In [51]:
song_dtst['song_id'] = song_id_flat

In [52]:
song_dtst.head()

               SongID  AlbumID  ...  Year             song_id
0  SOVLGJY12A8C13FBED   223563  ...  2001  SOAAAGQ12A8C1420C8
1  SOMZWCG12A8C13C480   300848  ...     0  SOAACPJ12A81C21360
2  SOCIWDW12A8C13D406   300822  ...  1969  SOAACTC12AB0186A20
3  SOXVLOJ12AB0189215   514953  ...     0  SOAADCB12A81C22AFA
4  SONHOTT12A8C13493C   287650  ...  1982  SOAAEJI12AB0188AB5

[5 rows x 6 columns]

In [53]:
final_dtst = pd.merge(df, song_dtst, on='song_id')

In [59]:
final_dtst = final_dtst.drop(['SongID'], axis=1)

In [60]:
final_dtst.head()

                                    user_id  ...  Year
0  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...  1994
1  fd13b9d49c54e00ff413fe3c095ba581c7fc611e  ...  1994
2  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     0
3  930d2be6c85315d72cab9823ec0f7bfe7e477794  ...     0
4  b80344d063b5ccb3212f76538f3d9e43d87dca9e  ...     0

[5 rows x 7 columns]

In [61]:
print(final_dtst.shape)

(16794, 7)

In [63]:
print(final_dtst["song_id"].value_counts().shape)

(10001,)